body {
  background-color: #DABFFF;
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 4em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #2C2A4A;
}

p {
  font-family: 'Roboto Slab', serif;;
}

#canDo {
  font-family: 'Roboto', sans-serif;
  font-size: 6em;
  border-bottom: 3px red dashed;
  margin-bottom: 1em;
}

button {
  width: 160px;
  font-family: 'Roboto', sans-serif;
}
